/* ==========================================================================
   Card styles
   ========================================================================== */

.c-card {
  &:extend(.u-margin-bottom-all-without-last-child all);

  overflow: hidden;

  &:hover {
    .c-card__image::after {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__image {
    position: relative;
    cursor: pointer;

    img {
      display: block;
      min-width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.70);
      opacity: 0;
      pointer-events: none;
    }
  }

  &__caption {
    background: white;
    padding: @g-size-space-base @g-size-space-base / 2;
    text-align: center;
  }

  &__title {
    font-family: @g-font-family-primary;
    font-size: @g-font-size-base;
    font-weight: bold;
    line-height: 1;
    text-transform: none;
    color: currentColor;
  }

  &__subtitle {
    font-size: @g-font-size-tiny;
  }
}
