.columns {
  display: flex;
  margin-left: -@base-space;
  margin-right: -@base-space;

  &--centered {
    justify-content: center;
  }

  &--gapless {
    margin-left: 0;
    margin-right: 0;
  }

  &--multiline {
    flex-wrap: wrap;
  }

  &.is-vcentered {
    align-items: center;
  }
}

.column {
  flex: 1;
  padding: 0 @base-space;

  .generate-columns(12);

  &--has-min-width {
    min-width: 250px;
  }
}

@media (max-width: @tablet) {
  .column {
    width: 100%;
    flex: none;
  }
}
