/* ==========================================================================
   Resume boxes styles
   ========================================================================== */

.c-resume-box {
  margin-bottom: @g-size-space-base * 2;

  &__icon {
    &:extend(.u-margin-bottom-all-without-last-child all);

    height: 4.5em;
    width: 4.5em;
    fill: @g-color-state-tertiary;
  }

  &__heading {
    font-size: 1.5em;
  }
}
