/* ==========================================================================
   Grid system styles
   ========================================================================== */

.l-grid {
  display: flex;
  margin-left: -@g-size-column-gap;
  margin-right: -@g-size-column-gap;

  &--centered {
    justify-content: center;
  }

  &--gapless {
    margin-left: 0;
    margin-right: 0;
  }

  &--multiline {
    flex-wrap: wrap;
  }

  &--vcentered {
    align-items: center;
  }

  &--justify-between {
    justify-content: space-between;
  }
}

.l-grid__column {
  flex: 1;
  padding: 0 @g-size-column-gap;

  &--has-min-width {
    min-width: 250px;
  }

  &--half {
    flex: none;
    width: 50%
  }

  &--one-third {
    flex: none;
    width: 33.3333%;
  }

  &--two-thirds {
    flex: none;
    width: 66.6666%;
  }

  &--one-quarter {
    flex: none;
    width: 25%;
  }

  &--two-quarters {
    flex: none;
    width: 50%;
  }

  &--three-quarters {
    flex: none;
    width: 75%;
  }

  .generate-grid-columns(12);
}

@media @g-media-query-tablet {
  .l-grid__column {
    width: 100%;
    flex: none;
  }
}
