.header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 12rem @section-padding;
  background: url(/images/header/background.jpg);
  background-size: cover;
  color: #fff;
}

@media (max-width: @tablet) {
  .header {
    min-height: auto;
  }
}
