.section {
  padding: 0 @section-padding;

  &__heading {
    color: @grey;
    font-family: @font-family-primary;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: @base-space * 5;
  }
}
