/* ==========================================================================
   Sidebar styles
   ========================================================================== */

@aside-width: 300px;

.sidebar {
  background: white;
  padding: 1em 2em;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: @aside-width;
  z-index: @g-zindex-sidebar;
  overflow-x: hidden;
  box-shadow: -2px 2px 60px 0 @g-color-state-shadow;

  will-change: transform;
  transform: translate(@aside-width, 0);
  transition: transform @g-transition-speed @g-transition-easing;

  &--wider {
    width: @aside-width * 1.2;
    transform: translate(@aside-width * 1.2, 0);
  }

  &--opened {
    transform: translate(0, 0);
  }

  &--color-primary {
    color: white;
    background: @g-color-state-primary;
  }
}

.sidebar-is-open {
  transform: translate(-@aside-width / 2, 0);
  transition: transform @g-transition-speed @g-transition-easing;
}
