/* ==========================================================================
   Sidebar styles
   ========================================================================== */

.l-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @g-zindex-sidebars;

  will-change: transform;
  transform: translate(200%, 0);
  transition: transform @g-transition-speed @g-transition-ease-in-out-expo;

  &__wrapper {
    background: white;
    padding: 1em 2em;
    width: @g-sidebar-width;
    height: 100%;
    margin-left: auto;
    overflow-x: hidden;
    box-shadow: -2px 2px 60px 0 @g-color-state-shadow;

    &--color-primary {
      color: white;
      background: @g-color-state-primary;
    }

    &--wider {
      width: @g-sidebar-width * 1.2;
    }
  }

  &--is-open {
    transform: translate(0, 0);
  }

  &--prevent-transition {
    transition: none;
  }
}

@media @g-media-query-phone {
  .l-sidebar {
    &__wrapper {
      width: 100%;
    }
  }
}
