.label,
.input,
.textarea {
  &:extend(.element all);
}

.label {
  display: block;
  font-size: 0.875em;
}

.input,
.textarea {
  display: block;
  width: 100%;
  padding: 0.75em;
  background: white;
  border: 2px solid transparent;
  border-radius: @inputs-border-radius;

  &:focus {
    outline: none;
    border-color: @color-secondary;
  }

}

.textarea {
  resize: vertical;
  height: 6 * @base-font-size;
}

.is-invalid {
  border-color: @danger;
}
